@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('font-face/ProximaNova-Reg-webfont.eot');
    src: url('font-face/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('font-face/ProximaNova-Reg-webfont.woff2') format('woff2'),
         url('font-face/ProximaNova-Reg-webfont.woff') format('woff'),
         url('font-face/ProximaNova-Reg-webfont.ttf') format('truetype'),
         url('font-face/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_ltlight';
    src: url('font-face/ProximaNova-Light-webfont.eot');
    src: url('font-face/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font-face/ProximaNova-Light-webfont.woff2') format('woff2'),
         url('font-face/ProximaNova-Light-webfont.woff') format('woff'),
         url('font-face/ProximaNova-Light-webfont.ttf') format('truetype'),
         url('font-face/ProximaNova-Light-webfont.svg#proxima_nova_ltlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('font-face/ProximaNova-Sbold-webfont.eot');
    src: url('font-face/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font-face/ProximaNova-Sbold-webfont.woff2') format('woff2'),
         url('font-face/ProximaNova-Sbold-webfont.woff') format('woff'),
         url('font-face/ProximaNova-Sbold-webfont.ttf') format('truetype'),
         url('font-face/ProximaNova-Sbold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
html{
	font-family:"proxima_nova_rgregular",Helvetica, Arial, Sans-serif;
}
#container {
	width: 1200px;
	height: 850px;
	margin: 0 auto;
	background: #ffffff;
	border: 5px solid #004977;
	padding: 10px;
}
#container1 {
	width: 500px;
	height: 500px;
	margin: 0 auto;
	background: #ffffff;
	border: 5px solid #004977;
	padding: 10px;
}
#container2 {
	width: 500px;
	height: 650px;
	margin: 0 auto;
	background: #ffffff;
	border: 5px solid #004977;
	padding: 10px;
}

#title {
	text-align: center;
	border: 0px solid #000000;

}
.datatable {
	border:5px solid #004977;
	height:50%;
}
.datatable, th{
		border:15px solid #004977;
		color: #004977;
	}
	.datatable, tr{
			text-align: center;
			color:black;

		}

}


#content {
	text-align: center;
	border: 0px solid #000000;

}

p {
	font-size: 13px;

}

body {
	background-color: #004977;
}
.myfields label, .myfields input {
  display:inline-block;
}

.myfields label {
  width:200px; /* or whatever size you want them */
}


h1 {
	font-family: 'proxima_nova_ltlight', Helvetica, Arial, sans-serif;
}

table {
	width: 100%
}
ul#navigation {list-style:none;position:relative; z-index:2;top:1px;display:table;}
ul#navigation li {float:left;}
ul#navigation li a {background:#004977b;color:#fff;display:block;padding:6px 15px;text-decoration:none;font-family: "Arial";}
ul#navigation li a.selected {border-bottom:1px solid #fff;color:#004977;background:#fff;}
button{
	text-align: center;
}
